In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('glassdoor_jobs.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
3,Research Scientist,-1,Responsibilities\nIndependently develop and ex...,-1.0,Repair Biotechnologies,"Syracuse, NY",-1,-1,-1,-1,-1,-1,-1,-1

### TO DO

1. Salary parsing
2. Company name text only
3. State field
4. Age of company
5. Parsing of job description (python, etc)

In [29]:
df['Hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['Employer Provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [30]:
df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_kd = salary.apply(lambda x: x.replace('K', '').replace('$', ''))

In [33]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary', ''))

df['Min Salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['Max Salary'] = min_hr.apply(lambda x: int(x.split('-')[1])) 
df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/ 2

In [35]:
df['Company Text'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)

In [38]:
df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])
df['Job State'].value_counts()

 NC    2
 TN    1
Name: Job State, dtype: int64

In [40]:
df['Same Location'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [41]:
df['Company Age'] = df.Founded.apply(lambda x: x if x < 1 else 2021 - x)

In [42]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,employer_provided,Hourly,Employer Provided,Min Salary,Max Salary,Avg Salary,Company Text,Job State,Same Location,Company Age
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,0,0,0,30,55,42.5,British American Tobacco\n,NC,0,119
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,0,0,0,53,108,80.5,British American Tobacco\n,NC,0,119
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,...,0,0,0,40,65,52.5,British American Tobacco\n,TN,0,119

### Parsing Job Description

In [44]:
#Python
df['Python Job'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['Python Job'].value_counts()

0    3
Name: Python Job, dtype: int64

In [45]:
#R-Studio
df['R-Studio Job'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['R-Studio Job'].value_counts()

0    3
Name: R-Studio Job, dtype: int64

In [46]:
# Spark
df['Spark Job'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Spark Job'].value_counts()

0    3
Name: Spark Job, dtype: int64

In [47]:
# AWS
df['AWS Job'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['AWS Job'].value_counts()

0    3
Name: AWS Job, dtype: int64

In [48]:
# Excel
df['Excel Job'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['Excel Job'].value_counts()

1    3
Name: Excel Job, dtype: int64

In [25]:
minus_kd

0     30 - 55
1    53 - 108
2     40 - 65
Name: Salary Estimate, dtype: object

In [26]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,Hourly,Employer Provided
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,0,0
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,0,0
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,0,0

In [6]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1